.search__suggestion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.search__suggestion-container:hover {
  background-color: rgb(49, 46, 46);
}
.search__suggestion-container p {
  text-align: start;
  padding: 0;
  margin: 0;
}
.search__suggestion-similar {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
